@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

::selection{
  background-color: rgba(255, 0, 0, 0.2);
  color: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0);
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Share Tech", "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arrow_btn{
  transition: 0.2s;
}

.arrow_btn svg{
  transition: 0.2s;
}

.arrow_btn:hover{
  transform: translateX(6px);
}

.arrow_btn:hover svg {
  transform: translateX(4px);
}

.cut {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}



/* ADAPTATION */
@media(max-width: 765px){
  .headers-text{
    font-size: 40px;
  }
}


/* ALERT */
@media(min-width: 1506px){
  .alert{
    top: 10px;
    right: 20px;
  }
}

@media(max-width: 1505px) and (min-width: 701px){
  .alert{
    top: 70px;
    right: 20px;
  }
}

@media(max-width: 700px){
  .alert{
    bottom: 20px;
    right: 20px;
  }
}